.raiz{

    height: 3000px;
}
.Carousel__container{

    margin: 0 15px;
    position: absolute;
    top: 167px;
    background-color: brown;
    width: calc(100% - 30px);
    height: 560px;
}

.main{
    background-color: white;
    height: 3000px;
    width: 1319px;
    margin-left: 15px;
    padding-top: 10px;
    margin-top: 167px;


}