
.raiz{
    width: 100vw;

    /* height: 3000px; */
}
.Carousel__container{

    position: absolute;
    top: 167px;
    background-color: brown;
    width: 100vw;
    height: 200px;
}

.main{
    background-color: white;
    width: 100vw; 


}

/* 
@media (min-width: 900px){
    .raiz{

        height: 3000px;
    }
    .Carousel__container{
    
        margin: 0 15px;
        position: absolute;
        top: 167px;
        background-color: brown;
        width: calc(100% - 30px);
        height: 560px;
    }
    
    .main{
        background-color: white;
        width: calc(100vw - 30px); 
        margin-left: 15px;
        padding-top: 10px;
        margin-top: 167px;
    
    
    }
} */