



.scroll-modal{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    z-index: 4;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    top: 0px;
    
}

.toggleOFF{
    display: none;
}
.scroll-modal__container{
    height: 377px;
    width: 750px;
    background-color: white;
    display: flex;

    
}

.scroll-modal__container__close{
    display: flex;
    position: absolute;
    width: 55%;
    justify-content: flex-end;
    margin: 5px;
    
}
.scroll-modal__container__close__button{
    border: none;
    background-color: transparent;
    height: 30px;
    font-size: larger;
    font-weight: bolder;
    margin-right: 20px;


}

.scroll-modal__container__img{
    background-image: url('../../assets/ScrollModalImg.png');
    width: 40%;
    height: 100%;
    background-size: cover;
    background-position: -30px 0;
    background-repeat: no-repeat;

}
                

.scroll-modal__container__contato{
    height: 100%;
    width: 60%;
    padding: 20px;
    text-align: left;

}

.scroll-modal__container__contato__email{

    width: 70%;
    height: 30px;
    border: gray 1px solid;
    
}
.scroll-modal__container__contato__submit{

    width: 30%;
    height: 30px;
    background-color: #af8254;
    color: white;
    border: none;

}

.scroll-modal__container__contato__icons{

    display: flex;
    width: 200px;
    justify-content: space-evenly;
    margin-top: 20px;
}


.fa-facebook-f{
    color: white;
    background: blue;
    padding: 10px 13px;
    border-radius: 20px;
}

.fa-twitter{
    color: white;
    background: #00aced;
    padding: 10px 11px;
    border-radius: 20px;
}
.fa-instagram{
    color: white;
    background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px 11px;
    border-radius: 20px;
}
.fa-pinterest-p{
    color: white;
    background:#cb2027;
    padding: 10px 11px;
    border-radius: 20px;
}

.scroll-modal__container__contato__checkbox{
    display: flex;
    width: 160px;
    align-items: center;
    justify-content: space-between;

}