.shop-category__description__card{

    width: 24%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.icon{
    font-size: 30px;
    
}

.icon__container{
    

    border-radius: 43px;
    background-color: white;
    transition: all .5s ease-out, padding .5s ease-out;
    box-shadow: 1px 1px 2px thistle, -1px -1px 2px thistle;
    height: 60px;
    width: 60px;

    display: flex;
    align-items: center;
    justify-content: center;


}

.icon__container:hover{

    box-shadow: 6px 6px 30px 5px thistle, -6px -6px 30px 5px thistle;
    /* transform: scale(1.2); */

}

