
.promocoes-container{
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-direction: column;


}

.promocoes-container__fresh{
    
    background-image: url('../../assets/pos-header-img1.png');
    height: 168px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 76%;
    background-position: center;
    /* background-color: #af1950; */
    margin-top: 10px;
    /* background-color: dimgrey; */


}
.promocoes-container__special{
    background-image: url('../../assets/pos-header-img2.png');
    height: 168px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 76%;
    background-position: center;
    margin-top: 10px;
    /* background-color: dimgrey; */
    /* background-color: darkorange; */



}

.promocoes-container__quality{
    
    background-image: url('../../assets/pos-header-img3.png');
    /* background-color: darkgrey; */
    height: 168px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 76%;
    background-position: center;
    margin-top: 10px;

    

}

@media (min-width: 900px){
    
.promocoes-container{
    display: flex;
    margin: 10px 0 0 0;
    width: 100%;
    justify-content: center;
    /* padding-left: 10px; */

}

.promocoes-container__fresh{
    height: 288px;
    width: 421px;
    background-image: url('../../assets/pos-header-img1.png');
}

.promocoes-container__special{
    height: 288px;
    width: 421px;
    margin: 0 10px ;
    background-image: url('../../assets/pos-header-img2.png');


}

.promocoes-container__quality{

    height: 288px;
    width: 421px;
    background-image: url('../../assets/pos-header-img3.png');


}

}