/* .promocoes-container{
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0 15px; 


} 
*/


.sales-card{

    margin-top: 10px;
}


.sales-card img{
    /* height: 33%; */
    width: 100%;


}

@media (min-width: 600px){
    
    .sales-card {
        /* height: 33%; */
        /* width: 33%; */
    
        width: 33%;
    
    }
    .sales-card img{
        /* height: 33%; */
    
    
    }
}