nav{
    position: absolute;
    width: 100vw;
    color: white;
    text-align: left;
    height: 55px;
    background-color: rgba(0,0,0,.2);
    z-index: 12;
}

/* 
.nav__item__container{
    
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav__item__container__list{  

    display: flex;
    flex-direction: column;
    width: 100%;
}
 */





 @media (min-width: 900px){

    nav{
        position: absolute;
    width: 100%;
    color: white;
    }
/*     
    .nav__item__container{
        
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .nav__item__container__list{  



        display: flex;
        width: calc(750px - 25px);
        justify-content: space-around;
    }

    .nav__item__container__list__icones{
        
        display: flex;
        width: 200px;
        justify-content: space-evenly;  
        padding: 25px;
        z-index: 2;
        
    }

    .nav__item__container__list__icones li{
        list-style: none;
        font-size: 25px;
    }

    .nav__item__container__list__icones__qtd{
        position: absolute;
        top: 20px;
        left: 1265px;
        z-index: 3;
        background-color: #af8254;
        border-radius: 20px;
        font-size: 14px;
        padding: 0px 6px;
    } */

} 